<section class="blog">
  <header>
    <h1>{{ 'blog.title' | t }}</h1>
  </header>
  <div class="blog__grid">
    <article *ngFor="let post of posts$ | async">
      <picture>
        <img [src]="post.cover" [alt]="post.title" loading="lazy" />
      </picture>
      <div>
        <span class="category">{{ post.category }}</span>
        <h2>
          <a [routerLink]="['/blog', post.slug]">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt }}</p>
        <a [routerLink]="['/blog', post.slug]" class="read-more">{{ 'blog.readMore' | t }}</a>
      </div>
    </article>
  </div>
</section>
